body,
html {
  min-height: 100%;
  width: 100%;
  font-family: $font__main;
  font-size: 16px;
}
#main {
  transition: 0.3s;
}
.container {
  font-family: $font__main;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin: 0px auto;
  padding: 0px 15px;
  max-width: 960px;
  &__fluid {
    max-width: 100%;
  }
}

b,
strong {
  font-weight: bold;
}
