.btn {
  padding: 0.475rem 1.5rem;
  font-size: 1rem;
  border-radius: $radius;
  font-weight: 600;
  margin-left: 5px;
  border: 2px solid transparent;
  text-transform: uppercase;
  &--secondary {
    background-color: $secondary;
    color: $off;
    &:hover {
      background-color: transparent;
      color: $secondary;
      border: 2px solid $secondary;
    }
  }
  &--primary {
    background-color: $primary;
    color: $secondary;
    &:hover {
      background-color: transparent;
      color: $primary;
      border: 2px solid $primary;
    }
  }
  &--largue {
    padding: 0.5rem 1.5rem;
    font-size: 1.25rem;
  }
}
